---
import serviceAreaUrl from "../content/service-area.geojson?url";

const { fullBleed = false } = Astro.props;
const wrapperClass = fullBleed
  ? "bg-fog overflow-hidden"
  : "bg-fog border border-clay/70 rounded-2xl overflow-hidden shadow-soft";
---
<div class={wrapperClass}>
  <div
    id="service-area-map"
    class="w-full h-[320px] sm:h-[360px] lg:h-[400px]"
    data-geojson-url={serviceAreaUrl}
  ></div>
</div>
<script src="/scripts/service-area-map.js" defer></script>
